{% style %}
  .customGradient {
    background: linear-gradient(to bottom, #6B4E89, white);
  }
  .rechargePageWidth {
    min-width: auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .kardiacarePlan {
    width: 300px;
  }

  .kardiacarePlanLeft {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  label {
    background-color: white;
  }

  .country-dropdown {
    position: relative;
  }

  .selected-country-option {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
  }

  .country-options {
    display: none;
    position: absolute;
    top: 100%;
    left: -18px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    padding: 0 0 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .country-options li {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .country-options li a {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .country-options li img,
  .selected-country-option img {
    position: relative;
    height: 18px;
    width: auto;
  }

  #country-selector-holder {
    padding: 4px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: white;
    border-radius: 8px;
  }

  #country-selector-holder-wrapper {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 40px;
  }

  .show-options {
    display: block; /* Add this rule to show the options when needed */
    margin: 0;
  }

  /* ... (existing styles) ... */
  With this addition, when you click on the selectedCountryOption, the show-options class will be toggled,
  and the dropdown options should become visible due to the display: block;
  property defined for .show-options. Make sure to adjust the styles within .show-options to match your design preferences for the visible dropdown options.
{% endstyle %}
{% include 'domainDetect' %}

{% if siteDomain == "UK" %}
  {% assign kmYearlyPrice = "£81.00" %}
  {% assign kmMonthlyPrice = "£9.00" %}
  {% assign currentCountry = "United Kingdom" %}
  {% assign flagName = "flag-uk.svg" %}
{% elsif siteDomain == "CA" %}
  {% assign kmYearlyPrice = "$135.00" %}
  {% assign kmMonthlyPrice = "$14.00" %}
  {% assign currentCountry = "Canada" %}
  {% assign flagName = "flag-canada.svg" %}
{% elsif siteDomain == "AU" %}
  {% assign kmYearlyPrice = "$156.00" %}
  {% assign kmMonthlyPrice = "$16.00" %}
  {% assign currentCountry = "Australia" %}
  {% assign flagName = "flag-australia.svg" %}
{% else %}
  {% assign kmYearlyPrice = "$99.99" %}
  {% assign kmMonthlyPrice = "$9.99" %}
  {% assign currentCountry = "Australia" %}
  {% assign flagName = "flag-australia.svg" %}
{% endif %}

<section class="w-full flex flex-col items-center customGradient py-s8">
  <div id="country-selector-holder-wrapper">
    <div id="country-selector-holder">
      <div class="country-dropdown">
        <div class="selected-country-option">
          <img src="{{ flagName | asset_url }}" />
          <p>{{ currentCountry }}</p>
        </div>
        <ul class="country-options">
          <li data-value="au">
            <a href="https://dev-alivecor-us.myshopify.com/en-au/pages/global-recharge-page">
              <img src="{{ 'flag-australia.svg'| asset_url }}" />
              <p>Australia</p>
            </a>
          </li>
          <li data-value="ca">
            <a href="https://dev-alivecor-us.myshopify.com/en-ca/pages/global-recharge-page">
              <img src="{{ 'flag-canada.svg'| asset_url }}" />
              <p>Canada</p>
            </a>
          </li>
          <li data-value="gb">
            <a href="https://dev-alivecor-us.myshopify.com/en-gb/pages/global-recharge-page">
              <img src="{{ 'flag-uk.svg'| asset_url }}" />
              <p>United Kingdom</p>
            </a>
          </li>
        </ul>
      </div>
      <h5>Not in located in {{ currentCountry }}? Please select another country</h5>
    </div>


  </div>

  <div class="grid grid-cols-2 gap-s4 rechargePageWidth">
    <img src="{{ 'kardiacare-featured-opaque.png' | asset_url }}" class="col-start-1 col-span-1 w-full" />
    <div class="flex flex-col  w-full h-full justify-between pt-s4">
      <div>
        <h1 class="mt-s0 text-white">KardiaCare</h1>
        <h2 class="mt-s8 text-white">Acheive your heart health goals</h2>
      </div>

      <div class="flex flex-col gap-s6 pb-s10">
        <div class="flex gap-s4">
          <h3 class="faux-h1 text-kc-800" id="kcPrice">{{ kmYearlyPrice }}</h3>
          <div class="flex flex-col">
            <p class="font-bold text-kc-800">Per</p>
            <p id="planDuration" class="font-bold mt-s1 text-kc-800">Year</p>
          </div>
        </div>

        <div class="flex flex-col gap-s5 kardiacarePlan">
          <div class="flex mt-s6">
            <label class="p-s2 justify-center !m-0 faux-h6 flex relative cursor-pointer w-1/2 kardiacarePlanLeft" onclick="kcFrequency = 12; kcVariantId = 32194082472001; document.getElementById('kcPrice').innerHTML='{{ kmYearlyPrice }}'; document.getElementById('planDuration').innerHTML='Year'">

              <input
                type="radio"
                name="kc-interval"
                value="year"
                class="mr-s1 hidden peer"
                checked />
              <span class="absolute w-full h-full inset-0 peer-checked:bg-kc-500 !block z-10"></span>

              <span class="peer-checked:text-white z-10 font-bold">Yearly</span>
            </label>
            <label class="p-s2 justify-center !m-0 faux-h6 flex relative cursor-pointer w-1/2 kardiacarePlanRight" onclick="kcFrequency = 1; kcVariantId = 32283254751297; document.getElementById('kcPrice').innerHTML='{{ kmMonthlyPrice }}'; document.getElementById('planDuration').innerHTML='Month'">
              <input
                type="radio"
                name="kc-interval"
                value="month"
                class="mr-s1 hidden peer" />
              <span class="absolute w-full h-full inset-0 peer-checked:bg-kc-500 !block z-10"></span>

              <span class="peer-checked:text-white z-10 font-bold">Monthly</span>
            </label>
          </div>

          <button class="rounded-[8px] p-s3 btn text-white faux-h6 bg-kc-800 text-[.75rem] lg:faux-h6 font-bold" aria-expanded="false">Select Plan</button>
        </div>
      </div>

    </div>
  </div>
</section>

<script>
  const customDropdown = document.querySelector(".country-dropdown");
  const selectedOption = customDropdown.querySelector(".selected-country-option");
  const optionsList = customDropdown.querySelector(".country-options");

  selectedOption.addEventListener("click", () => {
    optionsList.classList.toggle("show-options");
  });

  optionsList.addEventListener("click", (e) => {
    if (e.target.tagName === "LI") {
      const selectedValue = e.target.getAttribute("data-value");
      const selectedText = e.target.textContent;
      const selectedFlag = e.target.querySelector("img").src;

      selectedOption.innerHTML = `<img src="${selectedFlag}" alt="${selectedValue} Flag">${selectedText}`;
      optionsList.classList.remove("show-options");

// Use the selectedValue for further processing
      console.log("Selected Value:", selectedValue);
    }
  });
</script>